body{
    background-color: black;
    margin:0;
    padding:0;
}
 header {
    background-color: black;
    color: white;
    display: flex;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
 #nav-open, #nav-hide {
    display:none;
    cursor: pointer;
}
 .column1 a{
    color:white;
    margin: 5px 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
 }
.icon {
   color:white;
    margin: 10px 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
}


 nav ul{
    display:flex;
    align-items: center;
    justify-content: center;
 }


nav ul li {
   list-style: none;
}
nav ul li a{
   margin: 10px 30px;
   font-size: 25px;
   font-weight: bold;
   font-family: 'Libre Baskerville', serif;
   color: white;
   text-decoration: none;
   position: relative;
}

nav ul li ::after{
   content: '';
   width: 0;
   height: 3px;
   background: var(--primary-color);
   position: absolute;
   left: 0;
   bottom: -3px;
   transition: 0.8s;
}
nav ul li a:hover::after{
   width: 100%;
}
 .content{
    color:white;
    margin: 10px 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
 }

 .container {
    display: flex; /* create a flexbox container */
  }
  .container2{
   display: flex;
   align-items: center;
   justify-content: space-around;
  }
  .htmlgif{
   flex: 1;
    display: flex;
    /* padding-right: 10px; */
    align-items: center;
    /* margin-left: 20px; */
    align-items: center;
    justify-content: center;
  }
  .column1 {
    flex:0.2;
    position: relative;
    top:240px;
    width: 100px;
    display:block;
    padding:6px 0;
    white-space: nowrap;
    font-size: 20px;
    color:#fff;
  }
  .column1 i{
    display: block;
    font-size:25px;
    text-align:center;
    padding:20px;
  }
  .column2{
    flex: 1; /* make column 1 grow to fill available space */
    padding-right: 25px; /* add some space between columns */
    color:white;
    margin: 20px;
  }
  
  .column3 {
    flex: 1.3; /* make column 2 grow to fill available space */
    padding-left: 20px; /* add some space between columns */
  }
   
  #home{
    margin-top:20px;
    padding:20px;
    height: 90%;
    width: 90%;
  }

header .i{
    color: #fff;
    padding:0 5px;
}

.btn{
    border-radius: 30px;
    border: 0;
    font: size 7px;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    white-space: nowrap;
    cursor: pointer;
}
.aboutUs{
  
color: #fff;
display: flex;
align-items: center;
justify-content: center;
font-size: 44px;
text-align: center;
padding: 10px;
border-style: solid;
border-color: white;
margin: 70px;
flex: 1;
padding: 100px;
}

#tutorialssection{
   margin:0;
   padding:0;
   box-sizing: border-box;
}
#tutorialbody{
   width:100%;
   min-height:20vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: black;
   line-height: 1.5;
}
.container3{
   width:1100px;
   max-width: 100%;
   margin:0 auto;
}
.row{
   display:flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}
.card{
   flex: 1 1 17rem;
   display:flex;
   align-items: center;
   flex-direction: column;
   margin: 10px 20px;
   background:#fff;
   box-shadow: 0 0 15px rgba(0,0,0,0.4);
   padding:10px 20px;
   align-self: normal;
}
.card h2{
   font-size: 1.3rem;
   text-transform: uppercase;
   margin: 10px 0;
}
.card p{
   margin-bottom: 10px;
}
.card .btn{
   display:inline-block;
   background:green;
   margin-top: auto;
   color: #fff;
   text-align:center;
   color:#fff;
   padding:10px 20px;
   border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   -ms-border-radius:5px;
   -o-border-radius:5px;
   text-decoration: none;
   font-size: 20px;
}

#copyright {
   display: flex;
   font-size: 22px;
   margin: 0;
   margin-top: 8px;
   bottom:0;
   justify-content: center;
   font-family: 'Merienda', cursive;
   background-color: rgb(198, 198, 198);
}